@model IEnumerable<quanlycybergams.Models.May>
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="row">
                @foreach (var may in Model)
                {
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="card shadow">
                            @if (may.HoatDong.HasValue && may.HoatDong.Value)
                            {
                                <img src="~/Public/admin/pc/on.png" class="card-img-top" alt="...">
                            }
                            else if (may.HoatDong.HasValue && !may.HoatDong.Value)
                            {
                                <img src="~/Public/admin/pc/fix.png" class="card-img-top" alt="...">
                            }
                            else
                            {
                                <img src="~/Public/admin/pc/off.jfif" class="card-img-top" alt="...">
                            }

                        <div class="m-3 text-center">
                            <h5 class="card-title">
                                @may.TenMay
                                "@if (may.HoatDong.HasValue && may.HoatDong.Value)
                                {
                                    <span class="text-success">Hoạt động</span>
                                }
                                else if (may.HoatDong.HasValue && !may.HoatDong.Value)
                                {
                                    <span class="text-danger">Hư máy</span>
                                }
                                else
                                {
                                    <span class="text-muted">Không hoạt động</span>
                                }"
                            </h5>
                            <button type="button" class="btn btn-success"><i class="ti ti-edit"></i></button>
                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>